.page-header {
  color: lemonchiffon;
  border:1px solid #2b4f6e;
  text-align: center;
  background-image: url("../images/palm-trees.jpg");
  background-size: cover;
  background-
  background-color: lightgrey;
}

body {
  background-color: cornsilk;
}

form h4, label {
  color: #4d6fb3;
}

.img-container {
  padding-top: 20px;
}

.img-container img {
  width: 100%;
  border: 1px solid black;
}

.img-container h3 {
  color: red;
}

.img-hide {
  display: none;
  visibility: hidden;
}

.img-show {
  display: block;
  visibility: visible;
}

.button-div {
  padding-top: 15px;
}

#submit-btn {
  width: 100%;
  background-color: lightcoral;
  color: LightGoldenRodYellow;
  font-size: 20px;
}
